.options {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.option {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  padding: 0 5px;
  cursor: pointer;
  min-width: 120px;
}
