@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");

:root {
  --fonte-principal: "Manrope", sans-serif;

  font-family: var(--fonte-principal);

  --cor-principal: #f0e68c;
  --cor-secundaria: #8b4513;

  --HoneyDew: #f0fff0;
  --PaleGoldenrod: #eee8aa;
  --MistyRose: #ffe4e1;
  --Thistle: #d8bfd8;
  --gray: #e7ebef;

  --background-theme: rgba(117, 120, 92, 0.831);

  --card-color: #f0d98b;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
