.gif-container {
  position: relative;
  width: 200px; /* Defina a largura e a altura desejadas */
  height: 200px;
}

.userLogo {
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
}

.userLogo:hover {
  transform: scale(1.1);
  /* content: url("../../Img/User-Logo-gif.gif"); */
}
